@font-face {
  font-family: "Recoleta"; /* Name of your font */
  src: url("./Assets/Fonts/Recoleta-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE9 */ url("./Assets/Fonts/Recoleta-Black.woff2") format("woff2"),
    /* Modern browsers */ url("./Assets/Fonts/Recoleta-Black.woff")
      format("woff"),
    /* Older browsers */ url("./Assets/Fonts/Recoleta-Black.ttf")
      format("truetype"); /* Legacy systems */
  font-weight: normal;
  font-style: normal;
}

.pagination .active {
  width: 1.5rem; /* Make it bigger */
  height: 1.5rem;
  transition: all 0.5s ease; /* Add smooth animation */
}

.hamburger.trigger .bar:first-child {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.trigger .bar:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.hamburger.trigger .bar:last-child {
  transform: rotate(45deg) translate(-5px, -6px);
}
