@font-face {
  font-family: "Recoleta"; /* Name of your font */
  src: url("./Assets/Fonts/Recoleta-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE9 */ url("./Assets/Fonts/Recoleta-Black.woff2") format("woff2"),
    /* Modern browsers */ url("./Assets/Fonts/Recoleta-Black.woff")
      format("woff"),
    /* Older browsers */ url("./Assets/Fonts/Recoleta-Black.ttf")
      format("truetype"); /* Legacy systems */
  font-weight: normal;
  font-style: normal;
}

/* *:not(.case-study) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.case-study {
  /* position: absolute; Ensures stacking */
  /* top: 20%; */
  /* width: 100%; */
  right: 0;
  /* object-fit: cover; */
  /* height: 100vh; */
  /* min-height: 500px; */
  /* height: 800px; */
  /* height: calc(100vh / 2.5); */
}

.pagination .active {
  width: 1.5rem; /* Make it bigger */
  height: 1.5rem;
  transition: all 0.5s ease; /* Add smooth animation */
}
